@charset "UTF-8";

body{
    background: #e7e4df url(image/column_24_mv_th.png) no-repeat center/cover;
    height: 80vh;
    line-height: 1.7;
}

h1{
    font-size: 70px;
    font-family: 'M PLUS Rounded 1c', sans-serif;;
    text-align: justify;
}
