@charset "UTF-8";

body{
    background-color: #e7e4df;
    line-height: 1.7;
}

div{
    background-image: url(image/bg.png);
    margin: 100px;  
    margin-left: 300px;
    margin-right: 300px;
    padding: 40px;

}
